.container {
  text-align: center;
}

.main {
  display: inline-block;
  text-align: left;
}

.main > .title {
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

button {
  width: 80px;
  background-color: #2ccce4 !important;
  border: none !important;
  outline: none !important;
}

.paid-to-digs + div {
  padding-top: 20px;
  text-align: right;
}

/* begin total-area */
.total-area {
  padding: 0px 30px 0px;
}

.total-area > div {
  margin-bottom: 20px;
}

.total-area #avg-sale-price-area::before {
  content: '$';
}

.total-area #avg-sale-price-area::after {
  content: ' Average Sale Price';
}

.total-area #avg-sale-price, .total-area #avg-commission-rate {
  display: inline-block;
  outline: none;
}

.total-area #avg-commission-rate-area::after {
  content: '% Average Commission Rate';
}

.total-area #avg-sale-price-area, .total-area #avg-commission-rate-area {
  display: inline-block;
  padding: 3px 10px 3px 5px;
  border: 1px solid rgb(99, 99, 99);
}
/* end total-area */

/* begin paid-to-digs */
.paid-to-digs {
  border-style: solid;
  padding: 0px 30px 25px 10px;
}

.paid-to-digs h4 {
  margin-left: 30px;
}

.lock {
  background: url("../img/lock.svg") no-repeat scroll;
}

.unlock {
  background: url("../img/unlock.svg") no-repeat scroll;
}

span.lock, span.unlock {
  width: 26px;
  height:26px;
  margin-top: 5px;
  display: inline-block;
}

.per-year {
  width: 99px;
  max-width: 99px;
  display: inline-block;
}

/* end paid-to-digs */

/* begin slider */
.slider-handle {
  background: #2ccce4;
  position: absolute;
}

.slider {
  margin-left: 10px;
  margin-right: 10px;
  width: 400px !important;
  max-width: 400px !important;
}

.slider-selection {
  background: #2714EA;
}

.slider-track {
  height: 10px;
  width: 100%;
}
/* end slider */

/* begin responsive */
@media only screen and (max-width: 628px) {
  .total-area #avg-commission-rate {
    width: 100%;
    padding-left: 10px;
  }

  .paid-to-digs > div span {
    display: inline-block;
    margin-left: 20px;
  }

  .slider {
    width: 80% !important;
    margin-left: 30px;
  }
}
/* end responsive */
