.main {
  padding-top: 50px;
  text-align: center;
}
.center {
  width: 300px;
  display: inline-block;
}

.center div {
  background-color: #DADADA;
  border-radius: 5px;
  padding: 2px;
  padding-left: 20px;
  margin-bottom: 5px;
  text-align: left;
}

p {
  font-size: 20px;
}

.back {
  background-color: #FFFFFF !important;
  text-align: right !important;
}
.button {
  display: inline-block;
  width: 100px;
  height: 25px;
  background: #2ccce4;
  padding: 2px;
  padding-top: 7px;
  text-align: center;
  border-radius: 5px;
  color: white;
}